.conteiner{
  display: flex;
  justify-content: flex-end;
}

.strong{
  font-weight: bold;
}
.color{
  color: red;
  font-weight: bold;
}
.oblique{
  font-style: oblique;
}


body{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 250px;
  margin-left: 250px;
}
h1,h2{
  font-family: Arial;
}

p{
  text-align: justify;
}

table, td, th {
  margin-top: 20px;
  border: 1px solid #ddd;
  text-align: left;
  padding: 10px;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: #000;
  color: white;
}
